body {
    background: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
    padding: 0px;
    font-family: "Outfit", sans-serif;
    font-weight: 500;
    color: white;
}

.header-beaner {
    background: black;
}

.nav-background {

    background: transparent !important;
}

.nav-name-my-style {
    color: white !important;
    text-transform: capitalize;
    font-weight: 900;
    margin-top: 14px;
    font-size: 31px;
    font-family: "Outfit", sans-serif;
}

.nav-item-my-style {
    color: white !important;
    margin-top: 15px;
    font-family: "Outfit", sans-serif;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 600;
}

.name-part {
    text-align: center;
}

.name-part h1 {
    text-transform: uppercase;
    color: white;
    font-size: 100px;
    font-family: 'Flavors', cursive;
}

.benear-contant {}

.images-left-item {}

.images-left-item h4 {
    margin-top: 31px;
    font-size: 17px;
    font-weight: 900;
    text-transform: uppercase;
}

.images-left-item p {
    color: #ffffffcc;
    margin-top: 6px;
    font-size: 17px;
}

.images-left-item h5 {
    color: #ffffffcc;
    margin-top: 15px;
}

.dot-big {
    font-size: 34px;
}

.banear-contact {}

.banear-contact h4 {
    margin-bottom: 17px;
}

.banear-contact i {
    background: #404040;
    padding: 10px;
    color: white;
    border-radius: 100%;
    font-size: 25px;
    margin-left: 10px;
}

.beaner-images {}

.beaner-images img {
    width: 93%;
    border-radius: 100%;
    margin-top: 38px;
}

.images-right-item {
    margin-bottom: 50px;
}

.images-right-item h4 {
    margin-top: 31px;
    font-size: 17px;
    font-weight: 900;
    text-transform: uppercase;
    margin-left: 109px;
}

.images-right-item h1 {
    margin-left: 108px;
    font-size: 50px;
}

.service {}

.service-header {
    text-align: center;
}

.service-header h1 {
    font-size: 27px;
    font-family: 'EB Garamond', serif;
    margin-top: 81px;
    text-transform: uppercase;
}

.s-contant-text {
    text-align: center;
}

.s-contant-text h1 {
    text-transform: capitalize;
    font-size: 65px;
    font-weight: 500;
    margin-top: 236px !important;
}

.s-contant-text-color {
    background: linear-gradient(to right, #ff82f3, #7b13ff, #7b13ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.service-item {
    background: #181a1c;
    padding: 12px;
    border-radius: 15px;
    margin-top: 10px;
    border-bottom: 2px solid blueviolet;
    margin-bottom: 15px;
}

.service-1 {}

.service-1 h1 {
    margin-top: 59px;
    margin-left: 24px;
    font-size: 26px;
    font-weight: 800;
}

.service-2 {}

.service-2 i {
    color: white;
    font-size: 35px;
    margin-top: 56px;
}

.service-2 h1 {
    margin-left: 54px;
    margin-top: -35px;
    text-transform: capitalize;
    font-size: 24px;
}

.service-3 {}

.service-3 p {
    color: white;
    margin-top: 26px;
    padding-right: 35px;
    font-size: 19px;
}

@media only screen and (min-width: 320px) and (max-width:767px) {
    .s-contant-text h1 {
        margin-top: 36px !important;
    }
}

.awards {
    margin-top: 63px;
}

.awards-hading {
    text-align: center;
}

.awards-hading h1 {
    font-size: 43px;
    font-family: 'EB Garamond', serif;
    margin-top: 81px;
    text-transform: uppercase;
}

.awards-rds-color {
    background: linear-gradient(to right, #36d3d5, #d1dd17, #20b153);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.awards-rds-color2 {
    background: linear-gradient(to right, #0b10db, #f50808, #11bb4d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.awards-contant {
    margin-bottom: 26px;
}

.awards-item {
    background: #181a1c;
    padding: 30px;
    margin-top: 9px;
}

.awards-item h4 {
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 3px;
}

.awards-item h5 {
    color: #ffffff66;
    margin-top: 10px;
    font-size: 18px;
}

.awards-item p {
    color: #ffffff66;
    margin-top: 15px;
    font-size: 20px;
}

.protfolio {}

.protfolio-hading {}

.protfolio-hading h6 {
    color: #ffffff66;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 6px;
}

.protfolio-hading h1 {
    font-size: 60px;
    font-weight: 900;
}

.protfolio-hading p {
    color: rgba(255, 255, 255, 0.7);
    font-size: 18px;
    margin-top: 9px;
}

.protfolio-work-color {
    background: linear-gradient(to right, #ff82f3, #7b13ff, #7b13ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.protfolio-contant {}
.protfolio-contant img{
    width: 100%;
    border-radius: 30px;
}
.protfolio-contant h4{
    text-align: center;
    margin-top: 15px;
    font-size: 18px;
    color: #ffffff66;
    margin-bottom: 28px;
}

.protfolio-contant button{
    margin-top: 19px;
    background: linear-gradient(45deg, #000000, #872828);
    outline: none;
    padding: 12px;
    border: none;
    padding-right: 35px;
    padding-left: 35px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    font-size: 19px;
    letter-spacing: 5px;
    text-shadow: 3px 3px 2px black;
}

.manager {
    margin-top: 100px !important;
}

.manager-images {}
.manager-images img{
    width: 100%;
    border-radius: 100%;
}

.manager-contant {
    border-bottom: 2px solid tan;
    margin-bottom: 15px;
}
.manager-contant h4{
    margin-top: 37px;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 38px;
}
.manager-contant h5{
    font-size: 17px;
    text-transform: capitalize;
    margin-top: 13px;
    color: #ffffffe0;
}
.manager-contant p{
    margin-top: 8px;
    color: #ffffffc7;
    font-size: 27px;
}

.blog {
    background: #3434345c;
    border-radius: 20px;
    margin: 36px;
}

.blog-images {
    height: 338px;
}

.contact {}

.contact-contant {}
.contact-contant h1{
    margin-top: 18px;
    text-transform: capitalize;
    font-weight: 700;
    letter-spacing: 8px;
}
.contact-contant h4{
    margin-top: 25px;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: 700;
}
.contact-contant h5{
    margin-top: 5px;
    font-family: none;
}
.contact-contant h6{
    font-size: 32px;
    margin-top: 4px;
}

.contant-input {}
.contant-input h1{
    margin-top: 18px;
    text-transform: capitalize;
    font-weight: 700;
    letter-spacing: 8px;
    margin-top: 35px;
}
.contant-input input{
    width: 90%;
    padding: 13px;
    margin-bottom: 7px;
    color: rgba(255,255,255,0.8);
    background: #1e1e1ec2;
    border: none;
    outline: none;
}

.last-massage {
    padding: 20px !important;
    padding-bottom: 57px !important;
}

.contant-input {}
.contant-input button{
    padding: 10px;
    padding-left: 35px;
    padding-right: 35px;
    border: none;
    outline: none;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 3px;
    margin-top: 18px;
    font-size: 19px;
    margin-bottom: 50px;
    background: linear-gradient(45deg, #872828, black);
    color: white;
}

.akash {}

.akash {}

.akash {}

.akash {}

.akash {}

.akash {}